<div class="container header-container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 header-left">
      <span class="profile-img" style="background-image: url({{ site.about_profile_image | relative_url }})"></span>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <h1>{{ site.name | escape }}</h1>
      <h2>{{ site.title | escape }}</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <ul class="icons no-print">
        {%- if site.email -%}
          <li>
            <a target="_blank" href="mailto:{{ site.email }}" class="button button--sacnite button--round-l">
              <i class="fa-solid fa-envelope" title="Email"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.googlescholar_username -%}
          <li>
            <a target="_blank" href="https://scholar.google.com/citations?user={{ site.googlescholar_username| escape }}" class="button button--sacnite button--round-l">
              <i class="fa-brands fa-google-scholar" title="Google Scholar"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.in_username -%}
          <li>
            <a target="_blank" href="https://linkedin.com/in/{{ site.in_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fa-brands fa-linkedin-in" title="LinkedIn"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.X_username -%}
          <li>
            <a target="_blank" href="https://x.com/{{ site.X_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fa-brands fa-x-twitter" title="X"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.github_username -%}
          <li>
            <a target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fa-solid fa-code-merge" title="GitHub"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.PDF -%}
          <li>
            <a target="_blank" href="https://{{ site.meta_url | escape }}{{ site.PDF | relative_url }}" class="button button--sacnite button--round-l">
              <i class="fa-regular fa-floppy-disk" title="CV"></i>
            </a>
          </li>
        {%- endif -%}
        {% for link in site.additional_links %}
          <li>
            {% include a.html href=link.url class="button button--sacnite button--round-l" %}
              <i class="{{ link.icon }}" title="{{ link.title | escape }}"></i>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
