<head>
  <title>{{ site.name }} | CV</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.meta_description }}">
  <meta name="author" content="{{ site.name }}">
  <meta name="robots" content="index, follow">
  <meta name="keywords" content="{{ site.meta_keyword1 }}, {{ site.meta_keyword2 }}, {{ site.meta_keyword3 }}, {{ site.meta_keyword4 }}, {{ site.meta_keyword5 }}">
  <meta property="og:title" content="{{ site.name }}">
  <meta property="og:locale" content="en_US">
  <meta property="og:description" content="{{ site.meta_description }}">
  <meta property="og:url" content="https://{{ site.meta_url }}/">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:type" content="website">
  <link rel="canonical" href="https://{{ site.meta_url }}/">
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | relative_url }}?v=5">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | relative_url }}?v=5">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | relative_url }}?v=5">
  <link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}?v=5">
  <link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | relative_url }}?v=5" color="#5bbad5">
  <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}?v=5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ProfilePage",
    "mainEntity": {
      "@type": "Person",
      "name": "{{ site.name }}",
      "alternateName": "{{ site.alternateName }}",
      "identifier": "{{ site.orcid_username }}",
      "description": "{{ site.meta_description }}",
      "sameAs": [
        "https://orcid.org/{{ site.orcid_username | escape }}",
        "https://scholar.google.com/citations?user={{ site.googlescholar_username| escape }}",
        "https://github.com/{{ site.github_username | escape }}",
        "https://x.com/{{ site.X_username | escape }}",
        "https://linkedin.com/in/{{ site.in_username | escape }}",
        "https://www.researchgate.net/profile/{{ site.researchgate_username | escape }}",
        "https://www.webofscience.com/wos/author/record/{{ site.wos_username | escape }}",
        "https://www.scopus.com/authid/detail.uri?authorId={{ site.scopus_username | escape }}",
        "https://neurotree.org/neurotree/peopleinfo.php?pid={{ site.neurotree_username | escape }}"
      ],
      "jobTitle": "{{ site.jobTitle }}",
      "gender": "{{ site.gender }}",
      "knowsAbout": "{{ site.knowsAbout }}"
    }
  }
  </script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  
  
</head>
