<div class="container header-container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 header-left">
      <img class="profile-img" src="{{ site.about_profile_image | relative_url }}?v=5" alt="{{ site.name }} | {{ site.title }}">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <h1>{{ site.name | escape }}</h1>
      <h2>{{ site.title | escape }}</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <ul class="icons no-print">
        {%- if site.email -%}
          <li>
            <a title="Email" target="_blank" href="mailto:{{ site.email }}" class="button button--sacnite button--round-l">
              <i class="fa-solid fa-envelope" title="Email"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.googlescholar_username -%}
          <li>
            <a title="GoogleScholar" target="_blank" href="https://scholar.google.com/citations?user={{ site.googlescholar_username | escape }}" class="button button--sacnite button--round-l">
              <i class="fa-brands fa-google-scholar" title="GoogleScholar"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.in_username -%}
          <li>
            <a title="LinkedIn" target="_blank" href="https://linkedin.com/in/{{ site.in_username| cgi_escape | escape }}/" class="button button--sacnite button--round-l">
              <i class="fa-brands fa-linkedin-in" title="LinkedIn"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.github_username -%}
          <li>
            <a title="GitHub" target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}/" class="button button--sacnite button--round-l">
              <i class="fa-brands fa-github" title="GitHub"></i>
            </a>
          </li> 
        {%- endif -%}
      </ul>
    </div>
  </div>
</div>
