<head>
  <title>{{ site.meta_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.meta_description }}">
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="https://{{ site.meta_url }}/">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Mo Shakiba",
    "url": "https://moneuron.github.io",
    "image": "https://moneuron.github.io/assets/profile.webp",
    "jobTitle": "Researcher",
    "sameAs": [
      "https://github.com/moneuron",
      "https://www.researchgate.net/profile/Mo-Shakiba",
      "https://www.linkedin.com/in/moneuron",
      "https://x.com/moneuron"
    ],
    "description": "Mohammadhosein 'Mo' Shakiba is a researcher focusing on neuroscience and computational physics."
  }
  </script>
</head>
