<div class="container header-container">
  <div class="row" style="display: flex; align-items: center;">
    <div class="col-xs-4 col-sm-3 col-md-2">
      <img src="/assets/profile.webp" alt="{{ site.meta_title }}" style="width: 100%; height: 100%; border-radius: 50%;">
    </div>
    <div class="col-xs-8 col-sm-9 col-md-10 header-left">
      <h1>{{ site.name | escape }}</h1>
      <h2>{{ site.tagline | escape }}</h2>
      {{ site.about_content | strip | markdownify }}
    </div>
  </div>
</div>
