<div class="publication-container">
  {% for item in include.content %}
  <div class="publication">
    <div class="publication-details">
      <span class="authors" style="font-size: 14px;">{{ item.authors | strip }}</span>
      <i class="publication-title" style="font-size: 14px;">{{ item.title | strip | escape }}</i>
      <span class="journal" style="font-size: 14px;">{{ item.journal | strip }}</span>
      {% if item.link %}
      <a href="{{ item.link }}" class="external-link" target="_blank" title="Link to publication">
        <i class="fas fa-external-link-alt"></i>
      </a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
