{% for project in include.content %}
    <div class="row clearfix project">
      <div class="col-xs-12 col-sm-5 col-md-6 no-print">
        <span class="pub-img" style="background-image: url({{ project.image | relative_url }})"/>
        </div>
      <div class="col-xs-12 col-sm-7 col-md-6 col-print-12">
        {%- if project.quote -%}
          <p class="quote">{{ project.quote }}</p>
        {%- endif -%}
        {{ project.description | strip | markdownify }}
        {%- if project.icon and project.icon_title -%}
          <br>
          <i class="{{ project.icon }}" title="{{ project.icon_title| escape }}" style="font-size: 0.75em;"> {{ project.icon_title | escape }}</i>
        {%- endif -%}
      </div>
    </div>
{% endfor %}
