<div class="publication-container">
  {% for item in include.content %}
  <div class="publication">
    <div class="publication-details">
      {% if item.link %}
        <a href="{{ item.link }}" class="external-link" target="_blank" title="Article">
          <i class="fas fa-link">&nbsp;</i>
        </a>
      {% endif %}
      {% if item.pdf %}
        <a href="{{ item.pdf }}" class="external-link" target="_blank" title="PDF">
          <i class="fa-regular fa-file-pdf">&nbsp;</i>
        </a>
      {% endif %}
      <span>{{ item.authors | strip }}</span>
      <span>{{ item.title | strip | escape }}</span>
      <span>{{ item.journal | strip }}</span>
      <span>{{ item.year | strip }}</span>
      <span >doi:&nbsp;{{ item.doi | strip }}</span>
    </div>
  </div>
  <br>
  {% endfor %}
</div>
