<div class="card-container">
  <div class="row">
    {% for item in include.content %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-header">
          <h4>{{ item.title }}</h4>
        </div>
        {% if item.link or item.additional_links %}
        <div class="card-footer">
          {% if item.additional_links %}
          <ul class="additional-links">
            {% for link in item.additional_links %}
            <li style="list-style-type: none;">
              <a href="{{ link.url }}" title="{{ link.title }}">
                <i class="fas fa-external-link-alt"></i> {{ link.title }}
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
    <br>
    {% endfor %}
  </div>
</div>
