@import url(https://fonts.googleapis.com/css?family=Nunito:100,300,400,700,500,500italic,400italic,300italic,100italic,700italic);
html {
  box-sizing: border-box; }

body {
  background: #ffffff;
  font-family: Nunito, sans-serif;
  -webkit-font-smoothing: antialiased; }

.center-text {
  text-align: center; }

.container {
  margin-top:30px;

  @media print {
    margin-top: 20px;
  }
}

.header-container {
  margin-top:50px;
}

.header-right {
  text-align: right;
}

.header-left {
  margin-top: 30px;

  @media print {
    margin-top: 0px;
  }
}

.header-right p {
  font-size: 1.6rem;
  text-align: right;
}
