html {
  box-sizing: border-box; }

body {
  background: #ffffff;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased; }

.center-text {
  text-align: center; }

.container {

  @media print {
    margin-top: 20px;
  }
}

.header-container {
  margin-top:50px;
}

.header-right {
  text-align: right;
}

.header-left {
  margin-top: 30px;

  @media print {
    margin-top: 0px;
  }
}

.header-right p {
  font-size: 1.6rem;
  text-align: right;
}
