@import "bootstrap-grid";
@import "base";
@import "type";

.header-right p {
  margin-bottom: 3px;
}

.header-right a{
  color:inherit;
  font-weight:500;
}

@media screen and (max-width: 767px) {
  .header-container div{
    text-align: center;
  }

  .header-right p {
    text-align: center;
  }

  .header-left {
    margin-top: 0px;
  }
}


.list-container {
  h3 {
    margin-bottom: 0;
  }
}

.border-weak  {
  padding-bottom: 8px;
  border-bottom: dashed 1px #CCCCCC;
}

.layout {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;

  .details {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    vertical-align: middle;

    p {
      margin-bottom: 3px;
      font-size: 1.6rem;
      text-align: inherit;
      font-weight: 300;

      b {
        font-weight: 500;
      }
    }

    @media screen and (max-width: 767px) {
      text-align: center!important;

      p {
        text-align: center!important;
      }
    }

    a {
      color: inherit;
      font-style: italic;
      font-weight: 300;
    }

    .fa {
      font-size: 2rem;
    }

    .link {
      font-size: 1.5rem;
    }

    h4 {
      margin-bottom: 0.1rem;
      font-weight: 500;

      @media print {
        margin-bottom: 0.2rem;
      }

      a {
        font-weight: 500;
      }
    }
  }
}

.layout-right {
  flex-direction: row-reverse;
}

.layout-right, .layout-top-right {
  .details {
    text-align: right;
  }
}

.layout-left, .layout-right {
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  .details {
    margin-bottom: 2rem;
  }
}

.layout-top-middle, .layout-top, .layout-top-right {
  flex-direction: column;

  .details, .content {
    width: 100%;
  }
}

.layout-top-middle {
  .details {
    text-align: center;
  }
}

.footer-container {
  margin-top:25px;
}

.footer-container p {
  text-align: center;
}

.paper-item {
  display: block;
  opacity: 0;
  transform: translateY(12px);
  animation: fadeUp 0.6s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}