<!DOCTYPE html>
<html lang="en">
{%- include head.html -%}
<body>
  {%- include header.html -%}
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {%- include about.html -%}
    </div>
  </main>
  <script>
    document.querySelectorAll('.citation[data-doi]').forEach(el => {
      const doi = el.getAttribute('data-doi');
      const id = el.id;
  
      const url = `https://api.crossref.org/works/${encodeURIComponent(doi)}`;
      fetch(url)
        .then(res => res.json())
        .then(data => {
          const count = data.message['is-referenced-by-count'];
          el.textContent = `- CITATIONS: ${count} -`;
        })
        .catch(() => {
          el.textContent = '';
        });
    });
  </script>
</body>
</html>
